<%= form_for(@favored) do |f| %>
  <% if @favored.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favored.errors.count, "error") %> prohibited this favored from being saved:</h2>

      <ul>
      <% @favored.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :kind, "Tipo" %><br />
    <%= f.select :kind, Favored::KIND, :prompt => "Pessoa..." %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
