<h1>Favorecidos</h1>

<table cellspacing="0">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
<% @favoreds.each do |favored| %>
  <tr>
    <td><%= favored.name %></td>
    <td><%= favored.email %></td>
    <td><%= favored.kind %></td>
    <td><%= link_to 'Detalhes', favored %></td>
    <td><%= link_to 'Editar', edit_favored_path(favored) %></td>
    <td><%= link_to 'Excluir', favored, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'Novo', new_favored_path %>
