<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @favored.name %>
</p>

<p>
  <b>E-mail:</b>
  <%= @favored.email %>
</p>

<p>
  <b>Tipo:</b>
  <%= @favored.kind %>
</p>


<%= link_to 'Editar', edit_favored_path(@favored) %> |
<%= link_to 'Voltar', favoreds_path %>
