<h1>Contas a Pagar</h1>

<table cellspacing="0">
  <thead>
    <tr>
      <th>Conta</th>
      <th>Favorecido</th>
      <th>Valor</th>
      <th>Vencimento</th>
      <th colspan="3"></th>
    </tr>
  <thead>
  <tbody>
<% @pays.each do |pay| %>
  <tr>
    <td><%= pay.account.name %></td>
    <td><%= pay.favored.name %></td>
    <td><%= number_to_currency(pay.value) %></td>
    <td><%= pay.maturity.strftime("%d/%m/%Y") %></td>
    <td><%= link_to 'Detalhes', pay %></td>
    <td><%= link_to 'Editar', edit_pay_path(pay) %></td>
    <td><%= link_to 'Excluir', pay, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tbody>
</table>

<br />

<%= link_to 'Novo', new_pay_path %>
