<p id="notice"><%= notice %></p>

<p>
  <b>Conta:</b>
  <%= @pay.account.name %>
</p>

<p>
  <b>Favorecido:</b>
  <%= @pay.favored.name %>
</p>

<p>
  <b>Valor:</b>
  <%= number_to_currency(@pay.value) %>
</p>

<p>
  <b>Vencimento:</b>
  <%= @pay.maturity.strftime("%d/%m/%Y") %>
</p>


<%= link_to 'Editar', edit_pay_path(@pay) %> |
<%= link_to 'Voltar', pays_path %>
