<p id="notice"><%= notice %></p>

<p>
  <b>Conta:</b>
  <%= @receivable.account.name %>
</p>

<p>
  <b>Favorecido:</b>
  <%= @receivable.favored.name %>
</p>

<p>
  <b>Valor:</b>
  <%= number_to_currency(@receivable.value) %>
</p>

<p>
  <b>Vencimento:</b>
  <%= @receivable.maturity.strftime("%d/%m/%Y") %>
</p>


<%= link_to 'Editar', edit_receivable_path(@receivable) %> |
<%= link_to 'Voltar', receivables_path %>
