<h1>Contas</h1>

<table cellspacing="0">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.kind %></td>
    <td><%= link_to 'Detalhes', account %></td>
    <td><%= link_to 'Editar', edit_account_path(account) %></td>
    <td><%= link_to 'Excluir', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'Novo', new_account_path %>
