<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @account.name %>
</p>

<p>
  <b>Tipo:</b>
  <%= @account.kind %>
</p>


<%= link_to 'Editar', edit_account_path(@account) %> |
<%= link_to 'Voltar', accounts_path %>
